
/* Style the header with a grey background and some padding */
*{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}
h2{
font-weight: 900;
}
h2:after {
  background: none repeat scroll 0 0 #000;
  bottom: -10px;
  content: "";
  display: block;
  height: 2px;
  position: relative;
  width: 100px;
  margin: 0 auto;
}
/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
    .header a:hover, .header a.active {
        background-color: dodgerblue;
        color: white;
    }

/* Float the link section to the right */
.header-right {
  float: right;
}
 .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #12a39a;
  }
  .carousel-indicators li {
    border-color: #12a39a;
  }
  .carousel-indicators li.active {
    background-color: #white;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .navbar {
    margin-bottom: 0;
    background-color: #white;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #12a39a !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background-color: #12a39a !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #12a39a !important;
  }
@media (max-width: 600px){
    .navbar {
      position: static !important;
}
}
/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}



@media (max-width: 600px) {
     .blocku { 
	display: none;
    }
}
/*About Us section starts*/

.aboutus{
  margin-top:10%;
  
}
.aboutus h4{
  text-align: center;
  padding-bottom:20px;
  line-height: 1.6;
font-weight: 600;
  margin-left: 100px;
  margin-right: 100px;
}
.how-section1 h3{
  color: #12a39a;
  font-weight: bold;
}
.how-section1 h4{
line-height: 1.6;
font-weight: 600;
}
.how-section1 .row{
	margin-top:0%;
	margin-left:5%;
	margin-right:5%;
	margin-bottom:7%;
}
.how-img 
{
  text-align: center;
}
.how-img img{
  width: 40%;
}

.teama {
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.teama:hover {
	transform: scale(0.8); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #fdfdfa;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #12a39a;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #12a39a;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #fdfdfa;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #12a39a;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #12a39a;
  background-color: #fdfdfa;
}
/*About Us section ends*/
.bg {
  /* The image used */
  background-image: url("what.png");
/* Full height */
  height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
}


.logo {
  padding: 50px;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}

.logo:hover {
	transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 90%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.col-sm-3:hover .overlay {
  opacity: 1;
}


#what .row {

font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
 color: #131313;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}

#myFooter {
    background-color: #12a39a;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}

.modal {
background : url("bg (2).jpg")no-repeat;
background-size: cover;

}
.contact .info {
	
  transition: transform .2s; /* Animation */
 
  padding: 20px 40px;
  background: #eeeeee;  
  color: #131313;
  text-align: center;
  border: 1px solid #fff;
}
.contact h4{
line-height: 1.6;
font-weight: 600;
}
.contact .info:hover {
	transform: scale(0.8); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
	 background-image: linear-gradient(-135deg ,#12a39a,#fff); 
}
.contact .info i {
  font-size: 30px;
  color: #0a235a;
  margin-bottom: 15px;
}

.contact .info h4 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.contact .info p {
  font-size: 15px;
}

.rounded-cor{
  border-radius: 50px;
  color: rgb(8, 38, 71);
}
.btn-danger
{
  color: #001a66;
}


