/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
    .header a:hover, .header a.active {
        background-color: dodgerblue;
        color: white;
    }

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}
.wrapper {
    display: grid;
    margin: 100px 50px auto;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

@media (max-width: 700px) {
    .wrapper {
        margin: 200px auto;
    }
}

.wrapper .box {
    width: 350px;
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
}

    .wrapper .box .front-face {
       text-align:center;
        height: 220px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
        transition: all 0.5s ease;
    }

.box .front-face .icon {
    height: 80px;
}

    .box .front-face .icon i {
        font-size: 65px;
    }

.box .front-face span,
.box .back-face span {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}

.box .front-face span {
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.box .back-face {
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 220px;
    width: 100%;
    padding: 30px;
    color: #fff;
    opacity: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    background: linear-gradient(-135deg, dodgerblue, #12a39a);
    transform: translateY(110px) rotateX(-90deg);
    box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
    transition: all 0.5s ease;
}

    .box .back-face p {
        margin-top: 10px;
        text-align: justify;
    }

.box:hover .back-face {
    opacity: 1;
    transform: rotateX(0deg);
}

.box:hover .front-face {
    opacity: 0;
    transform: translateY(-110px) rotateX(90deg);
}
.team{
  margin: 75px 0;
}
.container1 h1{
  text-align: center;
  justify-content: center;
  font-weight: bold;
  letter-spacing: 2px;
  color:#12a39a;
  padding-bottom: 10px;
  margin-left: 45%;
}
.container1 h1:after{
  content: '';
  background: #333;
  display: block;
  height: 3px;
  width: 150px;
  margin: 10px auto;
}
.profile{
  margin-top: 25px;
}
.profile .img-box{
  opacity: 1;
  display: block;
  position: relative;
}
.profile h2{
  font-size: 22px;
  margin-top: 15px;
}
.profile h3{
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  color: #12a39a;
}
.img-box:after{
  content: '';
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  position:absolute;
  width: 250px;
  right: 0;
  left: 30px;
  top: 0;
  bottom: 0;
}
.img-box ul{
  margin: 0;
  padding: 40px 0;
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.img-box ul li{
  width: 30px;
  height: 30px;
  margin: 3px;
  padding: 7px;
  display: inline-block;
}
.img-box:hover:after{
  opacity: 1;
}
.img-box:hover ul{
  opacity: 1;
}
.img-box:after, .img-box ul, .img-box ul li{
  transition: all 0.5s ease-in-out 0s;
} 
.bg {
  /* The image used */
  background-image: url("what.png");
/* Full height */
  height: 100%; 
  /* Center and scale the image nicely */
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.col-sm-3:hover .overlay {
  opacity: 1;
}

q {
  background-color: lightgrey;
  width: 500px;
  border: 5px solid black;
  padding: 10px;
  margin: 5px;
}
q:hover {
	background-image: linear-gradient(-130deg, white, #12a39a);
}



#what {
filter:contrast(150%);
color:#12a39a;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}

#myFooter {
    background-color: #12a39a;
    color: white;
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}


.contact .info {
  padding: 20px 40px;
  background: linear-gradient(-135deg, rgba(30, 88, 146, 0.795), #5acee2);  color: #131313;
  text-align: center;
  border: 1px solid #fff;
}

.contact .info i {
  font-size: 30px;
  color: #0a235a;
  margin-bottom: 15px;
}

.contact .info h4 {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.contact .info p {
  font-size: 15px;
}

.rounded-cor{
  border-radius: 50px;
  color: rgb(8, 38, 71);
}
.btn-danger
{
  color: #001a66;
}


.flip-box {
  background-color: transparent;
  width: 100%;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: #12a39a;
  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  transform: rotateY(180deg);
}
